In [34]:
# Import packages

import glob
import csv
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
### String to Float from CSV read

def strtofloat(data):
    """argument have to be a list of list"""
    import re
    new_data = []
    for row in data:
        new_row = []
        for item in row:
            if  re.match("[+-]?(?:\d+(?:\.\d+)?|\.\d+)$", item):
                new_row.append(float(item))
            else:
                new_row.append(item)

        new_data.append(new_row)

    return new_data

In [3]:
# Iterate through each file name

for filename in glob.iglob('./training_set_a/*.txt'):
    
    # Open each file as result
    with open(filename) as inputfile:
        
        # list of list
        data = list(csv.reader(inputfile))

In [32]:
# Open file

with open('./training_set_a/132539.txt') as inputfile:
    
    # Open file in list of list
    results = list(csv.reader(inputfile))
    
    # Convert list of list to DataFrame
    results = pd.DataFrame(results[1:],columns=results[0])
    
    # Change Value to float
    results.Value = results.Value.astype(float)

In [33]:
db = './Capstone/
conn = psycopg2.connect()

      Time  Parameter      Value
0    00:00   RecordID  132539.00
1    00:00        Age      54.00
2    00:00     Gender       0.00
3    00:00     Height      -1.00
4    00:00    ICUType       4.00
5    00:00     Weight      -1.00
6    00:07        GCS      15.00
7    00:07         HR      73.00
8    00:07  NIDiasABP      65.00
9    00:07      NIMAP      92.33
10   00:07   NISysABP     147.00
11   00:07   RespRate      19.00
12   00:07       Temp      35.10
13   00:07      Urine     900.00
14   00:37         HR      77.00
15   00:37  NIDiasABP      58.00
16   00:37      NIMAP      91.00
17   00:37   NISysABP     157.00
18   00:37   RespRate      19.00
19   00:37       Temp      35.60
20   00:37      Urine      60.00
21   01:37         HR      60.00
22   01:37  NIDiasABP      62.00
23   01:37      NIMAP      87.00
24   01:37   NISysABP     137.00
25   01:37   RespRate      18.00
26   01:37      Urine      30.00
27   02:37         HR      62.00
28   02:37  NIDiasABP      52.00
29   02:37      NIMAP      75.67
..     ...        ...        ...
243  41:37   RespRate      14.00
244  41:37      Urine     450.00
245  42:37  NIDiasABP      67.00
246  42:37      NIMAP      87.67
247  42:37   NISysABP     129.00
248  42:37   RespRate      23.00
249  43:37        GCS      15.00
250  43:37         HR      73.00
251  43:37  NIDiasABP      64.00
252  43:37      NIMAP      82.67
253  43:37   NISysABP     120.00
254  43:37   RespRate      17.00
255  43:37       Temp      37.60
256  43:37      Urine     250.00
257  44:37   RespRate      20.00
258  45:37         HR      84.00
259  45:37  NIDiasABP      56.00
260  45:37      NIMAP      81.33
261  45:37   NISysABP     132.00
262  45:37   RespRate      20.00
263  45:37      Urine     300.00
264  46:37   RespRate      20.00
265  47:37        GCS      15.00
266  47:37         HR      86.00
267  47:37  NIDiasABP      55.00
268  47:37      NIMAP      79.33
269  47:37   NISysABP     128.00
270  47:37   RespRate      23.00
271  47:37       Temp      37.80
272  47:37      Urine     280.00

[273 rows x 3 columns]